__pycache__
.classpath
.project
*.class
readfile
readfile.c
intseq
.pytest_cache
gc_*
!gc_500_1
!gc_1000_1
*.out
*.gch
*.csv
nanoflann.hpp
dist_table*
ls_struct.*
ls_no_pred_suc.*
*.txt
gfls.*
.ipynb_checkpoints
